<launch>
  <!-- 参数 -->
  <arg name="enable_ekf" default="$(optenv ENABLE_EKF false)"/>

  <!-- gazebo 参数 -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- robot config -->
  <arg name="config" default="base" />
  <param name="robot_description"
         command="$(find jackal_description)/scripts/env_run
                    $(find jackal_description)/urdf/configs/$(arg config)
                    $(find xacro)/xacro $(find jackal_description)/urdf/jackal.urdf.xacro
                    --inorder" />
  
  <!-- 启动 gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <!-- <arg name="world_name" value="$(find rrbot_gazebo)/worlds/rrbot.world"/> -->
      <arg name="debug" value="$(arg debug)" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- 在 gazebo 中加载机器人 -->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -param robot_description -model jackal" />

  <!-- 加载控制器 -->
  <rosparam command="load" file="$(find qrobo_sim)/config/control.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="joint_publisher velocity_controller" />

  <!--  -->
  <group if="$(arg enable_ekf)" >
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find jackal_control)/config/robot_localization.yaml" />
    </node>

    <group if="$(optenv JACKAL_IMU_MICROSTRAIN 0)">
      <!-- Optionally load the configuration for the Microstrain-family IMU -->
      <rosparam>
        ekf_localization:
          imu1: microstrain/imu/data
          imu1_config: [false, false, false,
                      true, true, true,
                      false, false, false,
                      true, true, true,
                      false, false, false]
          imu1_differential: false
      </rosparam>
      <param name="ekf_localization/imu1" value="$(optenv JACKAL_IMU_MICROSTRAIN_NAME microstrain)/imu/data"/>
    </group>
  </group>
</launch>
