<launch>
  <include file="$(find jackal_description)/launch/description.launch" >
    <arg name="use_gazebo" value="true" />
  </include>

  <include file="$(find qrobo_sim)/launch/qrobo_sim.launch" />

  <include file="$(find odom)/launch/pose_ekf.launch" />

  <include file="$(find qrobo_mapping)/launch/gmapping.launch" />

  <include file="$(find qrobo_sim)/launch/teleop_joy.launch" />
</launch>