<launch>
  <!-- 参数：运行模式，支持 mapping（建图）和 nav（导航）模式 -->
  <arg name="mode" value="mapping" doc="mapping or nav"/>

  <!-- 参数：是否使用手柄控制 -->
  <arg name="use_joy" value="false" />

  <!-- 参数：地图文件，仅在导航模式下使用 -->
  <arg name="map_file" value="$(find qrobo_nav)/maps/racecar_runway_without_cone.yaml" />


  <include file="$(find jackal_description)/launch/description.launch" >
    <arg name="use_gazebo" value="true" />
  </include>

  <include file="$(find odom)/launch/pose_ekf.launch" />

  <group if="$(eval mode == 'mapping')">
    <!-- 建图模式 -->
    <include file="$(find qrobo_mapping)/launch/gmapping.launch" />
  </group>

  <group if="$(eval mode == 'nav')">
    <!-- 导航模式 -->
    <include file="$(find qrobo_nav)/launch/amcl.launch" >
      <arg name="map_file" value="$(arg map_file)" />
    </include>
    <include file="$(find qrobo_nav)/launch/move_base.launch" />
  </group>

  <group if="$(arg use_joy)">
    <include file="$(find qrobo_sim)/launch/teleop_joy.launch" />
  </group>
</launch>
